force-app/main/default/flows/Vaccine_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Do_not_wish_to_identify</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Do not wish to identify&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Do_not_wish_to_identify</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Female&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Male&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;No&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes1</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Yes</elementReference>
        </value>
    </choices>
    <constants>
        <name>testCategoryId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a6s5w000000kHIyAAM</stringValue>
        </value>
    </constants>
    <interviewLabel>Vaccine Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vaccine Registration</label>
    <loops>
        <name>CriteriaLoop</name>
        <label>CriteriaLoop</label>
        <locationX>688</locationX>
        <locationY>68</locationY>
        <collectionReference>CriteriaList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Introduction</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CriteriaList</name>
        <label>CriteriaList</label>
        <locationX>498</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriteriaLoop</targetReference>
        </connector>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testCategoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CSA_Criteria__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Display_order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Introduction</name>
        <label>Introduction</label>
        <locationX>919</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>tst</targetReference>
        </connector>
        <fields>
            <name>progress</name>
            <extensionName>c:breadCrumbs</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Blank_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Introduction_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px; color: rgb(30, 123, 173);&quot;&gt;Introduction&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Introduction_Question</name>
            <fieldText>&lt;p&gt;{!CriteriaLoop.Name} {!CriteriaLoop.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_complete_this_brief_questionnaire_to_help_us_assign_you_to_a_priority_tie</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>tst</name>
        <label>tst</label>
        <locationX>1110</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CriteriaList</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
